/Antecessor.class
/ConsumoMedio.class
/CustoCarro.class
/CustoCombustivel.class
/GasolinaAlcool.class
/Idade.class
/LitrosVendidosTipoCombustivel.class
/PesoIdeal.class
/PorcentagemdeVotos.class
/Retangulo.class
/Salario.class
/SalarioVendedor.class
/Soma.class
/TrocadeValor.class
/Vendedor.class
